{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Mon Panier</h1>

        <div class="row">
            <div class="col-md-8">
                {% for product in cart %}
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.object.illustration }}" alt="{{ product.object.name }}" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block small">Prix unitaire : {{ product.object.priceWithTaxes|price }}</span>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('app_cart_decrease', { id: product.object.id }) }}">-</a> <span class="badge text-bg-secondary">x {{ product.quantity }}</span> <a href="{{ path('app_cart_add', { id: product.object.id }) }}">+</a>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.quantity * product.object.priceWithTaxes)|price }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                Récap de mon panier
            </div>
        </div>
    </div>
{% endblock %}
