{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Connexion</h1>
                <hr>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Votre email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                    </div>

                    <div class="mb-3 position-relative">
                        <label for="password" class="form-label">Votre mot de passe:</label>
                        <div class="input-group">
                            <input type="password" id="password" name="_password" class="form-control">
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-target="password">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success w-100 mt-3">Se connecter</button>
                </form>

                <br />
                <a href="{{ path('app_register') }}">M'inscrire</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Sélectionnez tous les boutons de bascule
            document.querySelectorAll('.toggle-password').forEach(button => {
                button.addEventListener('click', () => {
                    // Obtenez l'ID de l'input à basculer
                    const targetId = button.getAttribute('data-target');
                    const targetInput = document.getElementById(targetId);

                    if (targetInput) {
                        // Changez le type du champ (password <-> text)
                        const isPassword = targetInput.getAttribute('type') === 'password';
                        targetInput.setAttribute('type', isPassword ? 'text' : 'password');

                        // Changez l'icône en conséquence
                        button.innerHTML = `<i class="fas fa-${isPassword ? 'eye-slash' : 'eye'}"></i>`;
                    } else {
                        console.error(`Élément avec l'ID "${targetId}" introuvable.`);
                    }
                });
            });
        });
    </script>
{% endblock %}
