{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Inscription</h1>
                <hr>
                {{ form_start(formRegister, {'attr': {'data-turbo': 'false'}}) }}
                    <div class="mb-3">
                        {{ form_row(formRegister.firstName) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(formRegister.lastName) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(formRegister.email) }}
                    </div>
                    <div class="mb-3 position-relative">
                        {{ form_label(formRegister.plainPassword.first) }}
                        <div class="input-group">
                            {{ form_widget(formRegister.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'register_user_plainPassword_first'}}) }}
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-target="register_user_plainPassword_first">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        {{ form_errors(formRegister.plainPassword.first) }}
                    </div>
                    <div class="mb-3 position-relative">
                        {{ form_label(formRegister.plainPassword.second) }}
                        <div class="input-group">
                            {{ form_widget(formRegister.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'register_user_plainPassword_second'}}) }}
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-target="register_user_plainPassword_second">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        {{ form_errors(formRegister.plainPassword.second) }}
                    </div>
                    {# <button type="submit" class="btn btn-success w-100">S'inscrire</button> #}
                {{ form_end(formRegister) }}
            </div>
        </div>
    </div>
{% endblock %}
